body{
    background-color: black;
    align-items: center;
}

button{
    width: 70px;
    background-color: black;
    border-color: greenyellow;
    color: greenyellow ;
    border-radius: 999px;
    animation-name: MyAnim;
    animation-duration: 4s;
}

.input-type{
    background-color: black;
    border-color: greenyellow;
    color: greenyellow ;
    border-radius: 999px;
}

@keyframes MyAnim{
    from{border-radius: 999px;}
    to{border-radius: 0px;}
}